

header {
    width: 785px;
    height: 56px;
    padding-top: 40px;
    margin: 0 360px 15px;
}

section {
    width: 710px;
    height: 620px;
    margin: 0 360px;
    padding: 43px 25px 50px 50px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
}

footer {
    width: 1420px;
    height: 250px;
    padding: 40px 0;
    text-align: center;
}

section .form-wrapper {
    width: 360px;
    height: 620px;
    display: inline-block;
    margin-right: 82px;
    box-sizing: border-box;
    vertical-align: top;
}

section .info {
    width: 180px;
    height: 593px;
    display: inline-block;
    margin: 0 27px 0 27px;
    background: #f5f5f5;
    color: #666;
    vertical-align: top;

}
.border-line {
    margin-right: 1px;
    padding: 1px;
    width: 20px;
    height: 593px;
    border-right: solid 1px;
    border-color: lightgrey;
    vertical-align: top;
    display: inline-block;

}
form {
    display: block;
    width: ;
}
input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type="checkbox"] {
    width: 10%;
    box-sizing: border-box;
}
fieldset {
    display: block;
    border: 0;
    margin: 0;
    padding: 0;
}
input {
    box-shadow: none;
    border-radius: 3px;
    border: 1px solid #d8d8d8;
}
label {
    font-size: 14px !important;
    font-weight: normal !important;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 10px;
    line-height: 35px;
}
h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 35px;
}
h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 19px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 35px;
    text-align: center;
}
h3  {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 35px;

}

h4  {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 35px;
    color: grey;
}
.info h4  {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 15.4px;
    color: grey;
}
input, fieldset, #bottom-links, #authentication {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
}
#Logo {
    width: 150px;
    float: left;
    vertical-align: baseline;
    display: inline-block;
}
#authentication {
    margin: 5% 0 0 82%;
    vertical-align: bottom;
}
ul li {
    text-align: left;
    list-style-type: disc;
}
.cf {
    *zoom: 1 &:before, &:after content: “” display: table &:after clear: both
}

/* unvisited link */
a {
    color: #45cae6;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: hotpink;
    text-decoration: underline;
}
h6 {
    display: inline;
}
#bottom-links {
    width: 785px;
    position: absolute;  
    top: 10%;
    left: 25%;

}
footer {
    position: relative;
}
a.grey-small {
    color: grey;
    font-size: 12px;
}
a.grey-small:after {
    content: "|";
    margin: 0 28px;
}
a.grey-small:last-child:after {
    content: "";
}
a.grey {
    color: grey;
    font-size: 14px;
}
a.grey:after {
    content: "|";
    margin: 0 14px;
}
a.grey:last-child:after {
    content: "";
    margin: 0;
}
.small {
    line-height: 35px;
}
#button {
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    color: #fff;
    background-color: #45cae6;
    font-size: 13px;
    font-weight: 300;
    padding: 5px 15px;
    width: 100px;
    display: block;
}
#seal {
    display: inline-block;
    margin: 0 15px;
}
#seal-container {
    margin: 80px 0 20px 20px;
}
/* {
   border: 1px solid red !important;
}*/
